<div class="w2ui-field">
	<label style="width:160px">{{nume}}</label>
	<div>
		<input type="number" id="DateTehnice_{{index}}__val_min" name="val_min" /> - <input type="number" name="val_max" id="DateTehnice_{{index}}__val_max" />
		<span id="DateTehnice_{{index}}__suggested_valmin" name="suggested_valmin"></span>  <span id="DateTehnice_{{index}}__suggested_valmax" name="suggested_valmax"></span>
	</div>
</div>